{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    <h1>{{ profile.user.username }}'s Inventory</h1>

    <div class="items mb-5">
        <h2>Items</h2>
        {% if items %}
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for profile_item in items %}
                            <tr>
                                <td>
                                    {% if profile_item.item.image %}
                                        <img src="{{ profile_item.item.image.url }}" alt="{{ profile_item.item.item_name }}" class="img-thumbnail" style="max-width: 100px;">
                                    {% else %}
                                        <a>No Image</a>
                                    {% endif %}
                                </td>
                                <td>{{ profile_item.item.item_name }}</td>
                                <td>{{ profile_item.item.description }}</td>
                                <td>{{ profile_item.quantity }}</td>
    
                                    {% if profile_item.item.is_lootbox %}
                                    <td>
                                        <form action="{% url 'open_lootbox' profile_item.item.id %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-success">Open Lootbox</button>
                                        </form>
                                    </td>
                                {% else %}
                                    <td>
                                        <a href="{% url 'edit_item' profile_item.item.id %}" class="btn btn-warning">Edit</a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>No items found.</p>
        {% endif %}
    </div>

    <div class="border border-dark p-3" style="max-width: 200px;">
        <a href="{% url 'add_item' %}" class="btn btn-warning">Add an Existing Item</a>
        <a>-</a>
        <a href="{% url 'create_item' %}" class="btn btn-warning">Create a New Item</a>
    </div>
</div>

{% endblock %}
