{% extends "base.html" %}
{% block content %}

        <h1>{{ profile.user.username }}'s Profile</h1>
        <div class="profile-info">
            <h2>Profile Information</h2>
            {% if profile.profile_pic %}
                <img src="{{ profile.profile_pic.url }}" alt="{{ profile.profile_name }}">
            {% endif %}
            <p>Name: {{ profile.profile_name }}</p>
            <p>Essence Count: {{ profile.essence_count }}</p>
        </div>
        
        <div class="characters">
            <h2>Characters</h2>
            {% if characters %}
                <ul>
                    {% for character in characters %}
                        <li class="character">
                            {% if character.top_down_photo %}
                                <img src="{{ character.top_down_photo.url }}" alt="{{ character.name }}">
                            {% endif %}
                            <p>Name: {{ character.character_name }}</p>
                            <p>Class: {{ character.character_class }}</p>
                            <p>Level: {{ character.level }}</p>
                            <p>Strength: {{ character.strength }}</p>
                            <p>Dexterity: {{ character.dexterity }}</p>
                            <p>Constitution: {{ character.constitution }}</p>
                            <p>Intelligence: {{ character.intelligence }}</p>
                            <p>Wisdom: {{ character.wisdom }}</p>
                            <p>Charisma: {{ character.charisma }}</p>
                            <p>Bio: {{ character.bio }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No characters found.</p>
            {% endif %}
        </div>
        
        <div class="items">
            <h2>Items</h2>
            {% if items %}
                <ul>
                    {% for item in items %}
                        <li class="item">
                            {% if item.image %}
                                <img src="{{ item.image.url }}" alt="{{ item.item_name }}">
                            {% endif %}
                            <p>Name: {{ item.item_name }}</p>
                            <p>Description: {{ item.description }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No items found.</p>
            {% endif %}
        </div>

        <div style="border: 3px black groove; max-width: 10rem;">
            <h2>Edit your profile<h2/>
            <a href="{% url 'profile_edit' %}">Profile</a>
        </div>
{% endblock %}