{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    <h1>{{ profile.user.username }}'s Profile</h1>

    <div class="profile-info mb-5">
        {% if profile.profile_pic %}
            <img src="{{ profile.profile_pic.url }}" alt="{{ profile.profile_name }}" class="img-thumbnail mb-3" style="max-width: 150px;">
        {% endif %}
        <p>Essence Count: {{ profile.essence_count }}</p>
    </div>

   

    <div class="border border-dark p-3" style="max-width: 200px;">
        <a href="{% url 'profile_edit' %}" class="btn btn-warning">Edit Profile</a>
    </div>
</div>

{% endblock %}
