{% extends "base.html" %}
{% block content %}

<div style="max-width: 25rem; border: none !important;">
    {% if messages %}
                {% for message in messages %}
                   <p class="login-message"> {{ message }} </p>
                {% endfor %}
    {% endif %}
    <form action="" method=POST>
        {% csrf_token %}
        
            <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="username">
            </div>
            <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}